body {
    font-family: sans-serif;
    display: flex;
    background:linear-gradient(#BBDEFB, #E3F2FD);
}

form {
    max-width: 80%;
    margin: auto;
    background-color: #FFF;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-control {
    margin-bottom: auto;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    width: auto;
}

input[type="number"], input[type="text"] {
    display: inline-block;
    width: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #eee;
}