body {
    font-family: sans-serif;
    background-image: linear-gradient(#E3F2FD, #BBDEFB);
    display: flex;
    align-items: center;
    height: 100vh;
}

.signin-form {
    max-width: 80%;
    margin: auto;
    background-color: #FAF9F6;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.signin-form h1 {
    margin: 0 0 20px 0;
    text-align: center;
    color: #1565C0;
}
.signin-form h2 {
    margin: 0 0 20px 0;
    text-align: center;
    color: #444;
}
.signin-form button {
    background-color: #2196F3;
    border: 0;
    padding: 18px 30px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 1em;
}
.signin-form button:hover {
    background-color: #1976D2;
}
.signin-form button:active {
    background-color: #1976D2;
}
.signin-form button:focus {
    outline: none;
}
.signin-form a {
    text-decoration: none;
    color: #2196F3;
}

.signin-form p {
    font-size: large;
}