<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
</head>

<body>
    <form method="post">
        <h1 style="text-align:center;">{{ brand }}</h1>
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}
    <div class="form-group">
        <h3>For the {{ brand }} ad, I remember seeing the following:</h3>
        <p>Write Scene Descriptions</p>
        {{ form.scenes_description }}
    </div>
    <div class="form-group">
        <h3>{{ form.audio.label }}</h3>
        <div class="form-options">
          {{ form.audio }}
        </div>
    </div>
    <div class="form-group">
        <h3>{{ form.caption.label }}</h3>
          {{ form.caption }}
    </div>
    <div class="form-group">
        <h3>{{ form.used_brand.label }}</h3>
          {{ form.used_brand }}
        </div>
    </div>
    <div class="form-group">
        <h3>{{ form.used_product.label }}</h3>
          {{ form.used_product }}
        </div>
    </div>
    <div class="form-group">
        <h3>{{ form.usage_brand.label }}</h3>
        <div class="form-options">
          {{ form.usage_brand }}
        </div>
    </div>
    <div class="form-group">
        <h3>{{ form.usage_product.label }}</h3>
        <div class="form-options">
          {{ form.usage_product }}
        </div>
    </div>
    <div class="form-group">
        <h3>{{ form.brand_ads_seen.label }}</h3>
          {{ form.brand_ads_seen }}
        </div>
    </div>
    <div class="form-group">
        <h3>{{ form.ad_seen.label }}</h3>
          {{ form.ad_seen }}
        </div>
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</body>