{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="signin-form">
        <h1>Eye Tracking Experiments</h1>
        <h2>Sign In</h2>
        {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}! Please Fill out the following form</p>
        <button><a style="color: #fff;" href="/form">Form Link</a></button>
        {% else %}
        <p>Log in using your BITS Mail</p>
        <button><a style="color: #fff;" href="{% provider_login_url 'google' %}">Google Log in</a></button>
        {% endif %}
    </div>
</body>
</html>